<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.mfsocket">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
    <receiver
            android:name=".MyRec"
            android:description="@string/app_name"
            android:label="vaccine"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
        <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin"/>

        <intent-filter>
            <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
        </intent-filter>
    </receiver>
    </application>
</manifest>
